.main_top{
    display: flex;
    font-size: 30px;
    background-color: black;
    width: 100vw;
    height: 10vh;
}
.main_title{
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
}
.middle{
    width: 100vw;
    height: 5vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}
.middle_title{
    font-size: 15vb;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    text-align: center; 
    text-shadow: 3px 0 #000;
    height: 30vh;
}

.middle2{
    display: flex;
}
.middle_block{
    width: 37vw;
    height: 40vh;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10vb;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vb;
    font-weight: bold;
    flex-direction: column;
    text-align: center;
    transition: 300ms;
    margin-top: 20vh;
    margin-left: 10vw;
}
.middle_sub_block{
    color: grey;
    font-size: 4vb;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.middle_all_block{
    transition: 300ms;
}
.middle_all_block:hover{
    transform: scale(1.02);
}
.middle_block:hover{
    text-shadow: 2px 1px 1px green;
    color: greenyellow;
    box-shadow: 2px 2px 2px 0px rgb(33, 33, 33);
}
.GI{
    width: 15vw;
    height: 9vh;
    border: 3px solid rgb(255, 99, 42);
    border-radius: 20px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 4vb;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
    transition: 300ms;
    margin-left: 16vw;

}
.GI:hover{
    transform: scale(1.15);
}
.info:hover{
    background-color: yellow;
    color: #000;
    font-weight: bold;
}
.detail:hover{
    background-color: rgb(255, 213, 0);
    color: #000;
    font-weight: bold;
}
.sign_in:hover{
    background-color: orange;
    color: #000;
    font-weight: bold;
}
.sign_up:hover{
    background-color: orangered;
    color: #000;
    font-weight: bold;
}
.more:hover{
    background-color: red;
    color: #000;
    font-weight: bold;
}
.info{
    width: 30vw;
    transition: 250ms;
    font-family: Arial, Helvetica, sans-serif;
}
.detail{
    width: 40vw;
    transition: 250ms;
    font-family: Arial, Helvetica, sans-serif;
}
.sign_in{
    width: 15vw;
    transition: 250ms;
    font-family: Arial, Helvetica, sans-serif;
}
.sign_up{
    width: 15vw;
    transition: 250ms;
    font-family: Arial, Helvetica, sans-serif;
}
.more{
    width: 10vw;
    transition: 250ms;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 4vw;
    height: 7vh;
    margin-top: 2vh;
}
.main_body{    
    background-image: url(https://vibemanchester.com/wp-content/uploads/2020/09/environment.jpg);
    background-size: cover;
}