.main_top{
    display: flex;
    font-size: 30px;
    background-color: black;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
.main_title{
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
}
.middle{
    width: 100vw;
    height: 5vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}
.middle_title{
    font-size: 15vb;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    text-align: center; 
    text-shadow: 3px 0 #000;
    height: 30vh;
}

.middle2{
    display: flex;
}
.middle_block{
    width: 37vw;
    height: 40vh;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10vb;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vb;
    font-weight: bold;
    flex-direction: column;
    text-align: center;
    transition: 300ms;
    margin-top: 20vh;
    margin-left: 10vw;
}
.middle_sub_block{
    color: grey;
    font-size: 4vb;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.middle_all_block{
    transition: 300ms;
}
.middle_all_block:hover{
    transform: scale(1.02);
}
.middle_block:hover{
    text-shadow: 2px 1px 1px orangered;
    color: orange;
    box-shadow: 2px 2px 2px 0px rgb(250, 250, 13);
}
.GI{
    width: 15vw;
    height: 9vh;
    border: 3px solid rgb(255, 99, 42);
    border-radius: 20px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 4vb;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
    transition: 300ms;
    margin-left: 16vw;

}
.GI:hover{
    transform: scale(1.15);
}
.info:hover{
    background-color: yellow;
    color: #000;
    font-weight: bold;
}
.detail:hover{
    background-color: rgb(255, 213, 0);
    color: #000;
    font-weight: bold;
}


.more:hover{
    background-color: orangered;
    color: #000;
    font-weight: bold;
}
.info{
    width: 35vw;
    transition: 250ms;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.detail{
    width: 40vw;
    transition: 250ms;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.more{
    width: 25vw;
    transition: 250ms;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.logo{
    width: 3vw;
    height: 6vh;
    margin-top: 1vh;
}
.main_body{    
    background-image: url(https://www.ruralmessenger.com/wp-content/uploads/2019/01/bee-stock.jpg);
    background-size: cover;
}
.main_left{
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vb;
    text-shadow: orange 2px 2px 2px;
}