.why_container,
.why_overlay:before {
  background: url(https://www.pbs.org/wnet/nature/files/2019/07/Super-Hummingbirds-2-1280x675.jpg) no-repeat fixed 0 0 / cover;
}
.why_container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
  }
  
  .why_overlay {
    width: 100vw;
    height: 40vh;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 0;
    justify-content: center;
    &:before {
      content: '';
      filter: blur(7px);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
  .why_overlay span:nth-child(1){
      font-size: 15vb;
      font-weight:bolder;
  
  }
  .why_overlay span:nth-child(2){
      font-size: 8vb;
      font-weight:bolder;
      color: rgb(220, 220, 220);
  }
.black_box{
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: -1;
    margin-top: 16vh;
    justify-content: space-between;
}
